<a href="https://colab.research.google.com/github/loginamohamed/A/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** Python NumPy Exercise***

**Exercise 1**: Create a 4X2 integer array and Prints its attributes
Note: The element must be a type of unsigned int16. And print the following
Attributes: –
 The shape of an array.
 Array dimensions.
 The Length of each element of the array in bytes.

In [6]:
import numpy as np
#The empty() function is used to create a new array of given shape and type, without initializing entries.
a=np.empty([4, 2], dtype=np.uint16)
print(a)
x=a.shape
y=a.ndim
z=a.itemsize
print("shape of an array",x)
print("Array dimensions",y)
print("The Length of each element of the array in bytes",z)

[[2 0]
 [0 0]
 [3 0]
 [0 0]]
shape of an array (4, 2)
Array dimensions 2
The Length of each element of the array in bytes 2

**Exercise 2:** Create a 5X2 integer array from a range between 100
to 200 such that the difference between each element is 10
Expected Output:

In [7]:
arr = np.arange(100, 200, 10)
arr = arr.reshape(5,2)
print (arr)

[[100 110]
 [120 130]
 [140 150]
 [160 170]
 [180 190]]

**Exercise 3:** Following is the provided numPy array. Return array of
items by taking the third column from all rows

In [8]:
x = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]]) 
print(x)
print("--------")

z = x[...,2]
print(z)

[[11 22 33]
 [44 55 66]
 [77 88 99]]
--------
[33 66 99]

**Exercise 4:** Return array of odd rows and even columns from
below numpy array

In [10]:
arr = np.array([[3 ,6, 9, 12], [15 ,18, 21, 24], [27 ,30, 33, 36], [39 ,42, 45, 48], [51 ,54, 57, 60]]) 
print("Odd rows and Even columns")
xarr = arr[::2, 1::2]
print(xarr)

Odd rows and Even columns
[[ 6 12]
 [30 36]
 [54 60]]

**Exercise 5:** Create a result array by adding the following two
NumPy arrays. Next, modify the result array by calculating the
square of each element

In [12]:
x = np.array([[5, 6, 9], [21 ,18, 27]])
z = np.array([[15 ,33, 24], [4 ,7, 1]])

sum = x+ z
print(sum)
print("---------")


for i in np.nditer(sum, op_flags = ['readwrite']):
   i[...] = i*i
print("\nmodify the result array by calculating the square of each element\n")
print(sum)

[[20 39 33]
 [25 25 28]]
---------

modify the result array by calculating the square of each element

[[ 400 1521 1089]
 [ 625  625  784]]

**Python Pandas Exercise**

Exercise 1: Clean the dataset and update the CSV file?

In [13]:
import pandas as pd
pd.options.display.max_rows=607
df=pd.read_csv('ds_salaries.csv')
df.dropna(inplace=True)
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
30,30,2020,MI,FT,Data Engineering Manager,51999,EUR,59303,DE,100,DE,S
31,31,2020,EN,FT,Big Data Engineer,70000,USD,70000,US,100,US,L
32,32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
33,33,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
34,34,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
35,35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
36,36,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
37,37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
38,38,2020,EN,FT,Data Analyst,10000,USD,10000,NG,100,NG,S
39,39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S
40,40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
41,41,2020,EX,FT,Data Engineering Manager,70000,EUR,79833,ES,50,ES,L
42,42,2020,MI,FT,Machine Learning Infrastructure Engineer,44000,EUR,50180,PT,0,PT,M
43,43,2020,MI,FT,Data Engineer,106000,USD,106000,US,100,US,L
44,44,2020,MI,FT,Data Engineer,88000,GBP,112872,GB,50,GB,L
45,45,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S
46,46,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
47,47,2020,SE,FT,Data Engineer,188000,USD,188000,US,100,US,L
48,48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
49,49,2020,MI,FT,Data Engineer,61500,EUR,70139,FR,50,FR,L
50,50,2020,EN,FT,Data Analyst,450000,INR,6072,IN,0,IN,S
51,51,2020,EN,FT,Data Analyst,91000,USD,91000,US,100,US,L
52,52,2020,EN,FT,AI Scientist,300000,DKK,45896,DK,50,DK,S
53,53,2020,EN,FT,Data Engineer,48000,EUR,54742,PK,100,DE,L
54,54,2020,SE,FL,Computer Vision Engineer,60000,USD,60000,RU,100,US,S
55,55,2020,SE,FT,Principal Data Scientist,130000,EUR,148261,DE,100,DE,M
56,56,2020,MI,FT,Data Scientist,34000,EUR,38776,ES,100,ES,M
57,57,2020,MI,FT,Data Scientist,118000,USD,118000,US,100,US,M
58,58,2020,SE,FT,Data Scientist,120000,USD,120000,US,50,US,L
59,59,2020,MI,FT,Data Scientist,138350,USD,138350,US,100,US,M
60,60,2020,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
61,61,2020,MI,FT,Data Engineer,130800,USD,130800,ES,100,US,M
62,62,2020,EN,PT,Data Scientist,19000,EUR,21669,IT,50,IT,S
63,63,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
64,64,2020,SE,FT,Machine Learning Engineer,40000,EUR,45618,HR,100,HR,S
65,65,2020,EN,FT,Data Scientist,55000,EUR,62726,DE,50,DE,S
66,66,2020,EN,FT,Data Scientist,43200,EUR,49268,DE,0,DE,S
67,67,2020,SE,FT,Data Science Manager,190200,USD,190200,US,100,US,M
68,68,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
69,69,2020,SE,FT,Data Scientist,80000,EUR,91237,AT,0,AT,S
70,70,2020,MI,FT,Data Scientist,55000,EUR,62726,FR,50,LU,S
71,71,2020,MI,FT,Data Scientist,37000,EUR,42197,FR,50,FR,S
72,72,2021,EN,FT,Research Scientist,60000,GBP,82528,GB,50,GB,L
73,73,2021,EX,FT,BI Data Analyst,150000,USD,150000,IN,100,US,L
74,74,2021,EX,FT,Head of Data,235000,USD,235000,US,100,US,L
75,75,2021,SE,FT,Data Scientist,45000,EUR,53192,FR,50,FR,L
76,76,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
77,77,2021,MI,PT,3D Computer Vision Researcher,400000,INR,5409,IN,50,IN,M
78,78,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
79,79,2021,EN,FT,Data Analyst,80000,USD,80000,US,100,US,M
80,80,2021,SE,FT,Data Analytics Engineer,67000,EUR,79197,DE,100,DE,L
81,81,2021,MI,FT,Data Engineer,140000,USD,140000,US,100,US,L
82,82,2021,MI,FT,Applied Data Scientist,68000,CAD,54238,GB,50,CA,L
83,83,2021,MI,FT,Machine Learning Engineer,40000,EUR,47282,ES,100,ES,S
84,84,2021,EX,FT,Director of Data Science,130000,EUR,153667,IT,100,PL,L
85,85,2021,MI,FT,Data Engineer,110000,PLN,28476,PL,100,PL,L
86,86,2021,EN,FT,Data Analyst,50000,EUR,59102,FR,50,FR,M
87,87,2021,MI,FT,Data Analytics Engineer,110000,USD,110000,US,100,US,L
88,88,2021,SE,FT,Lead Data Analyst,170000,USD,170000,US,100,US,L
89,89,2021,SE,FT,Data Analyst,80000,USD,80000,BG,100,US,S
90,90,2021,SE,FT,Marketing Data Analyst,75000,EUR,88654,GR,100,DK,L
91,91,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,100,DE,S
92,92,2021,MI,FT,Lead Data Analyst,1450000,INR,19609,IN,100,IN,L
93,93,2021,SE,FT,Lead Data Engineer,276000,USD,276000,US,0,US,L
94,94,2021,EN,FT,Data Scientist,2200000,INR,29751,IN,50,IN,L
95,95,2021,MI,FT,Cloud Data Engineer,120000,SGD,89294,SG,50,SG,L
96,96,2021,EN,PT,AI Scientist,12000,USD,12000,BR,100,US,S
97,97,2021,MI,FT,Financial Data Analyst,450000,USD,450000,US,100,US,L
98,98,2021,EN,FT,Computer Vision Software Engineer,70000,USD,70000,US,100,US,M
99,99,2021,MI,FT,Computer Vision Software Engineer,81000,EUR,95746,DE,100,US,S
100,100,2021,MI,FT,Data Analyst,75000,USD,75000,US,0,US,L
101,101,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,L
102,102,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
103,103,2021,MI,FT,Data Analyst,62000,USD,62000,US,0,US,L
104,104,2021,MI,FT,Data Scientist,73000,USD,73000,US,0,US,L
105,105,2021,MI,FT,Data Analyst,37456,GBP,51519,GB,50,GB,L
106,106,2021,MI,FT,Research Scientist,235000,CAD,187442,CA,100,CA,L
107,107,2021,SE,FT,Data Engineer,115000,USD,115000,US,100,US,S
108,108,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,M
109,109,2021,EN,FT,Data Engineer,2250000,INR,30428,IN,100,IN,L
110,110,2021,SE,FT,Machine Learning Engineer,80000,EUR,94564,DE,50,DE,L
111,111,2021,SE,FT,Director of Data Engineering,82500,GBP,113476,GB,100,GB,M
112,112,2021,SE,FT,Lead Data Engineer,75000,GBP,103160,GB,100,GB,S
113,113,2021,EN,PT,AI Scientist,12000,USD,12000,PK,100,US,M
114,114,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
115,115,2021,EN,FT,Machine Learning Scientist,225000,USD,225000,US,100,US,L
116,116,2021,MI,FT,Data Scientist,50000,USD,50000,NG,100,NG,L
117,117,2021,MI,FT,Data Science Engineer,34000,EUR,40189,GR,100,GR,M
118,118,2021,EN,FT,Data Analyst,90000,USD,90000,US,100,US,S
119,119,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
120,120,2021,MI,FT,Big Data Engineer,60000,USD,60000,ES,50,RO,M
121,121,2021,SE,FT,Principal Data Engineer,200000,USD,200000,US,100,US,M
122,122,2021,EN,FT,Data Analyst,50000,USD,50000,US,100,US,M
123,123,2021,EN,FT,Applied Data Scientist,80000,GBP,110037,GB,0,GB,L
124,124,2021,EN,PT,Data Analyst,8760,EUR,10354,ES,50,ES,M
125,125,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
126,126,2021,SE,FT,Machine Learning Scientist,120000,USD,120000,US,50,US,S
127,127,2021,MI,FT,Data Scientist,700000,INR,9466,IN,0,IN,S
128,128,2021,EN,FT,Machine Learning Engineer,20000,USD,20000,IN,100,IN,S
129,129,2021,SE,FT,Lead Data Scientist,3000000,INR,40570,IN,50,IN,L
130,130,2021,EN,FT,Machine Learning Developer,100000,USD,100000,IQ,50,IQ,S
131,131,2021,EN,FT,Data Scientist,42000,EUR,49646,FR,50,FR,M
132,132,2021,MI,FT,Applied Machine Learning Scientist,38400,USD,38400,VN,100,US,M
133,133,2021,SE,FT,Computer Vision Engineer,24000,USD,24000,BR,100,BR,M
134,134,2021,EN,FT,Data Scientist,100000,USD,100000,US,0,US,S
135,135,2021,MI,FT,Data Analyst,90000,USD,90000,US,100,US,M
136,136,2021,MI,FT,ML Engineer,7000000,JPY,63711,JP,50,JP,S
137,137,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
138,138,2021,SE,FT,Principal Data Scientist,220000,USD,220000,US,0,US,L
139,139,2021,EN,FT,Data Scientist,80000,USD,80000,US,100,US,M
140,140,2021,MI,FT,Data Analyst,135000,USD,135000,US,100,US,L
141,141,2021,SE,FT,Data Science Manager,240000,USD,240000,US,0,US,L
142,142,2021,SE,FT,Data Engineering Manager,150000,USD,150000,US,0,US,L
143,143,2021,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
144,144,2021,MI,FT,Data Engineer,100000,USD,100000,US,100,US,L
145,145,2021,SE,FT,Machine Learning Engineer,70000,EUR,82744,BE,50,BE,M
146,146,2021,MI,FT,Research Scientist,53000,EUR,62649,FR,50,FR,M
147,147,2021,MI,FT,Data Engineer,90000,USD,90000,US,100,US,L
148,148,2021,SE,FT,Data Engineering Manager,153000,USD,153000,US,100,US,L
149,149,2021,SE,FT,Cloud Data Engineer,160000,USD,160000,BR,100,US,S
150,150,2021,SE,FT,Director of Data Science,168000,USD,168000,JP,0,JP,S
151,151,2021,MI,FT,Data Scientist,150000,USD,150000,US,100,US,M
152,152,2021,MI,FT,Data Scientist,95000,CAD,75774,CA,100,CA,L
153,153,2021,EN,FT,Data Scientist,13400,USD,13400,UA,100,UA,L
154,154,2021,SE,FT,Data Science Manager,144000,USD,144000,US,100,US,L
155,155,2021,SE,FT,Data Science Engineer,159500,CAD,127221,CA,50,CA,L
156,156,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
157,157,2021,MI,FT,Applied Machine Learning Scientist,423000,USD,423000,US,50,US,L
158,158,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
159,159,2021,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
160,160,2021,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
161,161,2021,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
162,162,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L
163,163,2021,EN,FT,Data Science Consultant,54000,EUR,63831,DE,50,DE,L
164,164,2021,EX,FT,Director of Data Science,110000,EUR,130026,DE,50,DE,M
165,165,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L
166,166,2021,EN,FT,Data Engineer,80000,USD,80000,US,100,US,L
167,167,2021,EX,FT,Director of Data Science,250000,USD,250000,US,0,US,L
168,168,2021,EN,FT,BI Data Analyst,55000,USD,55000,US,50,US,S
169,169,2021,MI,FT,Data Architect,150000,USD,150000,US,100,US,L
170,170,2021,MI,FT,Data Architect,170000,USD,170000,US,100,US,L
171,171,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
172,172,2021,EN,FT,Data Analyst,60000,USD,60000,US,100,US,S
173,173,2021,SE,FT,Principal Data Scientist,235000,USD,235000,US,100,US,L
174,174,2021,SE,FT,Research Scientist,51400,EUR,60757,PT,50,PT,L
175,175,2021,SE,FT,Data Engineering Manager,174000,USD,174000,US,100,US,L
176,176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
177,177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
178,178,2021,EN,FT,Machine Learning Engineer,81000,USD,81000,US,50,US,S
179,179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S
180,180,2021,MI,FT,Big Data Engineer,1672000,INR,22611,IN,0,IN,L
181,181,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
182,182,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
183,183,2021,SE,FT,Finance Data Analyst,45000,GBP,61896,GB,50,GB,L
184,184,2021,MI,FL,Machine Learning Scientist,12000,USD,12000,PK,50,PK,M
185,185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
186,186,2021,SE,FT,Data Analytics Engineer,50000,USD,50000,VN,100,GB,M
187,187,2021,EX,FT,Data Science Consultant,59000,EUR,69741,FR,100,ES,S
188,188,2021,SE,FT,Data Engineer,65000,EUR,76833,RO,50,GB,S
189,189,2021,MI,FT,Machine Learning Engineer,74000,USD,74000,JP,50,JP,S
190,190,2021,SE,FT,Data Science Manager,152000,USD,152000,US,100,FR,L
191,191,2021,EN,FT,Machine Learning Engineer,21844,USD,21844,CO,50,CO,M
192,192,2021,MI,FT,Big Data Engineer,18000,USD,18000,MD,0,MD,S
193,193,2021,SE,FT,Data Science Manager,174000,USD,174000,US,100,US,L
194,194,2021,SE,FT,Research Scientist,120500,CAD,96113,CA,50,CA,L
195,195,2021,MI,FT,Data Scientist,147000,USD,147000,US,50,US,L
196,196,2021,EN,FT,BI Data Analyst,9272,USD,9272,KE,100,KE,S
197,197,2021,SE,FT,Machine Learning Engineer,1799997,INR,24342,IN,100,IN,L
198,198,2021,SE,FT,Data Science Manager,4000000,INR,54094,IN,50,US,L
199,199,2021,EN,FT,Data Science Consultant,90000,USD,90000,US,100,US,S
200,200,2021,MI,FT,Data Scientist,52000,EUR,61467,DE,50,AT,M
201,201,2021,SE,FT,Machine Learning Infrastructure Engineer,195000,USD,195000,US,100,US,M
202,202,2021,MI,FT,Data Scientist,32000,EUR,37825,ES,100,ES,L
203,203,2021,SE,FT,Research Scientist,50000,USD,50000,FR,100,US,S
204,204,2021,MI,FT,Data Scientist,160000,USD,160000,US,100,US,L
205,205,2021,MI,FT,Data Scientist,69600,BRL,12901,BR,0,BR,S
206,206,2021,SE,FT,Machine Learning Engineer,200000,USD,200000,US,100,US,L
207,207,2021,SE,FT,Data Engineer,165000,USD,165000,US,0,US,M
208,208,2021,MI,FL,Data Engineer,20000,USD,20000,IT,0,US,L
209,209,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,0,US,L
210,210,2021,MI,FT,Machine Learning Engineer,21000,EUR,24823,SI,50,SI,L
211,211,2021,MI,FT,Research Scientist,48000,EUR,56738,FR,50,FR,S
212,212,2021,MI,FT,Data Engineer,48000,GBP,66022,HK,50,GB,S
213,213,2021,EN,FT,Big Data Engineer,435000,INR,5882,IN,0,CH,L
214,214,2021,EN,FT,Machine Learning Engineer,21000,EUR,24823,DE,50,DE,M
215,215,2021,SE,FT,Principal Data Engineer,185000,USD,185000,US,100,US,L
216,216,2021,EN,PT,Computer Vision Engineer,180000,DKK,28609,DK,50,DK,S
217,217,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
218,218,2021,MI,FT,Machine Learning Engineer,75000,EUR,88654,BE,100,BE,M
219,219,2021,SE,FT,Data Analytics Manager,140000,USD,140000,US,100,US,L
220,220,2021,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
221,221,2021,MI,FT,Data Scientist,85000,GBP,116914,GB,50,GB,L
222,222,2021,MI,FT,Data Scientist,2500000,INR,33808,IN,0,IN,M
223,223,2021,MI,FT,Data Scientist,40900,GBP,56256,GB,50,GB,L
224,224,2021,SE,FT,Machine Learning Scientist,225000,USD,225000,US,100,CA,L
225,225,2021,EX,CT,Principal Data Scientist,416000,USD,416000,US,100,US,S
226,226,2021,SE,FT,Data Scientist,110000,CAD,87738,CA,100,CA,S
227,227,2021,MI,FT,Data Scientist,75000,EUR,88654,DE,50,DE,L
228,228,2021,SE,FT,Data Scientist,135000,USD,135000,US,0,US,L
229,229,2021,SE,FT,Data Analyst,90000,CAD,71786,CA,100,CA,M
230,230,2021,EN,FT,Big Data Engineer,1200000,INR,16228,IN,100,IN,L
231,231,2021,SE,FT,ML Engineer,256000,USD,256000,US,100,US,S
232,232,2021,SE,FT,Director of Data Engineering,200000,USD,200000,US,100,US,L
233,233,2021,SE,FT,Data Analyst,200000,USD,200000,US,100,US,L
234,234,2021,MI,FT,Data Architect,180000,USD,180000,US,100,US,L
235,235,2021,MI,FT,Head of Data Science,110000,USD,110000,US,0,US,S
236,236,2021,MI,FT,Research Scientist,80000,CAD,63810,CA,100,CA,M
237,237,2021,MI,FT,Data Scientist,39600,EUR,46809,ES,100,ES,M
238,238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M
239,239,2021,EN,FT,Data Engineer,1600000,INR,21637,IN,50,IN,M
240,240,2021,SE,FT,Data Scientist,130000,CAD,103691,CA,100,CA,L
241,241,2021,MI,FT,Data Analyst,80000,USD,80000,US,100,US,L
242,242,2021,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
243,243,2021,SE,FT,Data Scientist,165000,USD,165000,US,100,US,L
244,244,2021,EN,FT,AI Scientist,1335000,INR,18053,IN,100,AS,S
245,245,2021,MI,FT,Data Engineer,52500,GBP,72212,GB,50,GB,L
246,246,2021,EN,FT,Data Scientist,31000,EUR,36643,FR,50,FR,L
247,247,2021,MI,FT,Data Engineer,108000,TRY,12103,TR,0,TR,M
248,248,2021,SE,FT,Data Engineer,70000,GBP,96282,GB,50,GB,L
249,249,2021,SE,FT,Principal Data Analyst,170000,USD,170000,US,100,US,M
250,250,2021,MI,FT,Data Scientist,115000,USD,115000,US,50,US,L
251,251,2021,EN,FT,Data Scientist,90000,USD,90000,US,100,US,S
252,252,2021,EX,FT,Principal Data Engineer,600000,USD,600000,US,100,US,L
253,253,2021,EN,FT,Data Scientist,2100000,INR,28399,IN,100,IN,M
254,254,2021,MI,FT,Data Analyst,93000,USD,93000,US,100,US,L
255,255,2021,SE,FT,Big Data Architect,125000,CAD,99703,CA,50,CA,M
256,256,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
257,257,2021,SE,FT,Principal Data Scientist,147000,EUR,173762,DE,100,DE,M
258,258,2021,SE,FT,Machine Learning Engineer,185000,USD,185000,US,50,US,L
259,259,2021,EX,FT,Director of Data Science,120000,EUR,141846,DE,0,DE,L
260,260,2021,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L
261,261,2021,SE,FT,Data Analyst,54000,EUR,63831,DE,50,DE,L
262,262,2021,MI,FT,Data Scientist,1250000,INR,16904,IN,100,IN,S
263,263,2021,SE,FT,Machine Learning Engineer,4900000,INR,66265,IN,0,IN,L
264,264,2021,MI,FT,Data Scientist,21600,EUR,25532,RS,100,DE,S
265,265,2021,SE,FT,Lead Data Engineer,160000,USD,160000,PR,50,US,S
266,266,2021,MI,FT,Data Engineer,93150,USD,93150,US,0,US,M
267,267,2021,MI,FT,Data Engineer,111775,USD,111775,US,0,US,M
268,268,2021,MI,FT,Data Engineer,250000,TRY,28016,TR,100,TR,M
269,269,2021,EN,FT,Data Engineer,55000,EUR,65013,DE,50,DE,M
270,270,2021,EN,FT,Data Engineer,72500,USD,72500,US,100,US,L
271,271,2021,SE,FT,Computer Vision Engineer,102000,BRL,18907,BR,0,BR,M
272,272,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,0,DE,L
273,273,2021,EN,FT,Machine Learning Engineer,85000,USD,85000,NL,100,DE,S
274,274,2021,SE,FT,Data Scientist,65720,EUR,77684,FR,50,FR,M
275,275,2021,EN,FT,Data Scientist,100000,USD,100000,US,100,US,M
276,276,2021,EN,FT,Data Scientist,58000,USD,58000,US,50,US,L
277,277,2021,SE,FT,AI Scientist,55000,USD,55000,ES,100,ES,L
278,278,2021,SE,FT,Data Scientist,180000,TRY,20171,TR,50,TR,L
279,279,2021,EN,FT,Business Data Analyst,50000,EUR,59102,LU,100,LU,L
280,280,2021,MI,FT,Data Engineer,112000,USD,112000,US,100,US,L
281,281,2021,EN,FT,Research Scientist,100000,USD,100000,JE,0,CN,L
282,282,2021,MI,PT,Data Engineer,59000,EUR,69741,NL,100,NL,L
283,283,2021,SE,CT,Staff Data Scientist,105000,USD,105000,US,100,US,M
284,284,2021,MI,FT,Research Scientist,69999,USD,69999,CZ,50,CZ,L
285,285,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L
286,286,2021,SE,FT,Head of Data,87000,EUR,102839,SI,100,SI,L
287,287,2021,MI,FT,Data Scientist,109000,USD,109000,US,50,US,L
288,288,2021,MI,FT,Machine Learning Engineer,43200,EUR,51064,IT,50,IT,L
289,289,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
290,290,2022,SE,FT,Data Analyst,155000,USD,155000,US,100,US,M
291,291,2022,SE,FT,Data Analyst,120600,USD,120600,US,100,US,M
292,292,2022,MI,FT,Data Scientist,130000,USD,130000,US,0,US,M
293,293,2022,MI,FT,Data Scientist,90000,USD,90000,US,0,US,M
294,294,2022,MI,FT,Data Engineer,170000,USD,170000,US,100,US,M
295,295,2022,MI,FT,Data Engineer,150000,USD,150000,US,100,US,M
296,296,2022,SE,FT,Data Analyst,102100,USD,102100,US,100,US,M
297,297,2022,SE,FT,Data Analyst,84900,USD,84900,US,100,US,M
298,298,2022,SE,FT,Data Scientist,136620,USD,136620,US,100,US,M
299,299,2022,SE,FT,Data Scientist,99360,USD,99360,US,100,US,M
300,300,2022,SE,FT,Data Scientist,90000,GBP,117789,GB,0,GB,M
301,301,2022,SE,FT,Data Scientist,80000,GBP,104702,GB,0,GB,M
302,302,2022,SE,FT,Data Scientist,146000,USD,146000,US,100,US,M
303,303,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
304,304,2022,EN,FT,Data Engineer,40000,GBP,52351,GB,100,GB,M

**Exercise 2:** Find the most expensive car company name?

In [16]:
print("The most expensive =")
print(df['salary_in_usd'].max())

The most expensive =
600000

**Exercise 3:** Print All Toyota Cars details?

In [17]:
dfx=df.groupby('job_title')
dfx.get_group('Data Scientist')

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
32,32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
40,40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
46,46,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
48,48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
56,56,2020,MI,FT,Data Scientist,34000,EUR,38776,ES,100,ES,M
57,57,2020,MI,FT,Data Scientist,118000,USD,118000,US,100,US,M
58,58,2020,SE,FT,Data Scientist,120000,USD,120000,US,50,US,L
59,59,2020,MI,FT,Data Scientist,138350,USD,138350,US,100,US,M
62,62,2020,EN,PT,Data Scientist,19000,EUR,21669,IT,50,IT,S
63,63,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
65,65,2020,EN,FT,Data Scientist,55000,EUR,62726,DE,50,DE,S
66,66,2020,EN,FT,Data Scientist,43200,EUR,49268,DE,0,DE,S
68,68,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
69,69,2020,SE,FT,Data Scientist,80000,EUR,91237,AT,0,AT,S
70,70,2020,MI,FT,Data Scientist,55000,EUR,62726,FR,50,LU,S
71,71,2020,MI,FT,Data Scientist,37000,EUR,42197,FR,50,FR,S
75,75,2021,SE,FT,Data Scientist,45000,EUR,53192,FR,50,FR,L
94,94,2021,EN,FT,Data Scientist,2200000,INR,29751,IN,50,IN,L
104,104,2021,MI,FT,Data Scientist,73000,USD,73000,US,0,US,L
116,116,2021,MI,FT,Data Scientist,50000,USD,50000,NG,100,NG,L
127,127,2021,MI,FT,Data Scientist,700000,INR,9466,IN,0,IN,S
131,131,2021,EN,FT,Data Scientist,42000,EUR,49646,FR,50,FR,M
134,134,2021,EN,FT,Data Scientist,100000,USD,100000,US,0,US,S
139,139,2021,EN,FT,Data Scientist,80000,USD,80000,US,100,US,M
143,143,2021,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
151,151,2021,MI,FT,Data Scientist,150000,USD,150000,US,100,US,M
152,152,2021,MI,FT,Data Scientist,95000,CAD,75774,CA,100,CA,L
153,153,2021,EN,FT,Data Scientist,13400,USD,13400,UA,100,UA,L
156,156,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
176,176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
177,177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
179,179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S
181,181,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
195,195,2021,MI,FT,Data Scientist,147000,USD,147000,US,50,US,L
200,200,2021,MI,FT,Data Scientist,52000,EUR,61467,DE,50,AT,M
202,202,2021,MI,FT,Data Scientist,32000,EUR,37825,ES,100,ES,L
204,204,2021,MI,FT,Data Scientist,160000,USD,160000,US,100,US,L
205,205,2021,MI,FT,Data Scientist,69600,BRL,12901,BR,0,BR,S
217,217,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
221,221,2021,MI,FT,Data Scientist,85000,GBP,116914,GB,50,GB,L
222,222,2021,MI,FT,Data Scientist,2500000,INR,33808,IN,0,IN,M
223,223,2021,MI,FT,Data Scientist,40900,GBP,56256,GB,50,GB,L
226,226,2021,SE,FT,Data Scientist,110000,CAD,87738,CA,100,CA,S
227,227,2021,MI,FT,Data Scientist,75000,EUR,88654,DE,50,DE,L
228,228,2021,SE,FT,Data Scientist,135000,USD,135000,US,0,US,L
237,237,2021,MI,FT,Data Scientist,39600,EUR,46809,ES,100,ES,M
238,238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M
240,240,2021,SE,FT,Data Scientist,130000,CAD,103691,CA,100,CA,L
243,243,2021,SE,FT,Data Scientist,165000,USD,165000,US,100,US,L
246,246,2021,EN,FT,Data Scientist,31000,EUR,36643,FR,50,FR,L
250,250,2021,MI,FT,Data Scientist,115000,USD,115000,US,50,US,L
251,251,2021,EN,FT,Data Scientist,90000,USD,90000,US,100,US,S
253,253,2021,EN,FT,Data Scientist,2100000,INR,28399,IN,100,IN,M
260,260,2021,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L
262,262,2021,MI,FT,Data Scientist,1250000,INR,16904,IN,100,IN,S
264,264,2021,MI,FT,Data Scientist,21600,EUR,25532,RS,100,DE,S
274,274,2021,SE,FT,Data Scientist,65720,EUR,77684,FR,50,FR,M
275,275,2021,EN,FT,Data Scientist,100000,USD,100000,US,100,US,M
276,276,2021,EN,FT,Data Scientist,58000,USD,58000,US,50,US,L
278,278,2021,SE,FT,Data Scientist,180000,TRY,20171,TR,50,TR,L
287,287,2021,MI,FT,Data Scientist,109000,USD,109000,US,50,US,L
292,292,2022,MI,FT,Data Scientist,130000,USD,130000,US,0,US,M
293,293,2022,MI,FT,Data Scientist,90000,USD,90000,US,0,US,M
298,298,2022,SE,FT,Data Scientist,136620,USD,136620,US,100,US,M
299,299,2022,SE,FT,Data Scientist,99360,USD,99360,US,100,US,M
300,300,2022,SE,FT,Data Scientist,90000,GBP,117789,GB,0,GB,M
301,301,2022,SE,FT,Data Scientist,80000,GBP,104702,GB,0,GB,M
302,302,2022,SE,FT,Data Scientist,146000,USD,146000,US,100,US,M
303,303,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
311,311,2022,MI,FT,Data Scientist,50000,GBP,65438,GB,0,GB,M
312,312,2022,MI,FT,Data Scientist,30000,GBP,39263,GB,0,GB,M
315,315,2022,SE,FT,Data Scientist,165220,USD,165220,US,100,US,M
317,317,2022,SE,FT,Data Scientist,120160,USD,120160,US,100,US,M
323,323,2022,SE,FT,Data Scientist,180000,USD,180000,US,0,US,L
324,324,2022,SE,FT,Data Scientist,120000,USD,120000,US,0,US,L
347,347,2022,SE,FT,Data Scientist,95550,USD,95550,US,0,US,M
352,352,2022,SE,FT,Data Scientist,167000,USD,167000,US,100,US,M
353,353,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
356,356,2022,SE,FT,Data Scientist,150000,USD,150000,US,0,US,M
357,357,2022,SE,FT,Data Scientist,211500,USD,211500,US,100,US,M
365,365,2022,SE,FT,Data Scientist,138600,USD,138600,US,100,US,M
369,369,2022,SE,FT,Data Scientist,170000,USD,170000,US,100,US,M
370,370,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
398,398,2022,SE,FT,Data Scientist,215300,USD,215300,US,100,US,L
399,399,2022,SE,FT,Data Scientist,158200,USD,158200,US,100,US,L
409,409,2022,SE,FT,Data Scientist,180000,USD,180000,US,100,US,M
410,410,2022,MI,FT,Data Scientist,55000,GBP,71982,GB,0,GB,M
411,411,2022,MI,FT,Data Scientist,35000,GBP,45807,GB,0,GB,M
416,416,2022,SE,FT,Data Scientist,260000,USD,260000,US,100,US,M
423,423,2022,SE,FT,Data Scientist,180000,USD,180000,US,0,US,M
424,424,2022,SE,FT,Data Scientist,80000,USD,80000,US,0,US,M
428,428,2022,SE,FT,Data Scientist,140400,USD,140400,US,0,US,L
444,444,2022,SE,FT,Data Scientist,215300,USD,215300,US,0,US,L
459,459,2022,MI,FT,Data Scientist,2400000,INR,31615,IN,100,IN,L
463,463,2022,EN,FT,Data Scientist,1400000,INR,18442,IN,100,IN,M
467,467,2022,SE,FT,Data Scientist,104890,USD,104890,US,100,US,M
469,469,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
472,472,2022,SE,FT,Data Scientist,220000,USD,220000,US,100,US,M
473,473,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
474,474,2022,MI,FT,Data Scientist,140000,GBP,183228,GB,0,GB,M
475,475,2022,MI,FT,Data Scientist,70000,GBP,91614,GB,0,GB,M
476,476,2022,SE,FT,Data Scientist,185100,USD,185100,US,100,US,M
478,478,2022,MI,FT,Data Scientist,200000,USD,200000,US,100,US,M
479,479,2022,MI,FT,Data Scientist,120000,USD,120000,US,100,US,M
486,486,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
487,487,2022,EN,PT,Data Scientist,100000,USD,100000,DZ,50,DZ,M
488,488,2022,MI,FL,Data Scientist,100000,USD,100000,CA,100,US,M
492,492,2022,MI,FT,Data Scientist,150000,PLN,35590,PL,100,PL,L
494,494,2022,SE,FT,Data Scientist,100000,USD,100000,BR,100,US,M
497,497,2022,SE,FT,Data Scientist,165000,USD,165000,US,100,US,M
499,499,2022,EN,FT,Data Scientist,66500,CAD,52396,CA,100,CA,L
502,502,2022,EN,FT,Data Scientist,40000,USD,40000,JP,100,MY,L
505,505,2022,EN,FT,Data Scientist,120000,AUD,86703,AU,50,AU,M
515,515,2022,MI,FT,Data Scientist,48000,USD,48000,RU,100,US,S
518,518,2022,MI,FT,Data Scientist,115000,CHF,122346,CH,0,CH,L
520,520,2022,MI,FT,Data Scientist,88000,CAD,69336,CA,100,CA,M
524,524,2022,MI,FT,Data Scientist,135000,USD,135000,US,100,US,L
526,526,2022,MI,FT,Data Scientist,78000,USD,78000,US,100,US,M
538,538,2022,MI,FT,Data Scientist,141300,USD,141300,US,0,US,M
539,539,2022,MI,FT,Data Scientist,102100,USD,102100,US,0,US,M
550,550,2022,SE,FT,Data Scientist,205300,USD,205300,US,0,US,L
551,551,2022,SE,FT,Data Scientist,140400,USD,140400,US,0,US,L
552,552,2022,SE,FT,Data Scientist,176000,USD,176000,US,100,US,M
553,553,2022,SE,FT,Data Scientist,144000,USD,144000,US,100,US,M
558,558,2022,SE,FT,Data Scientist,205300,USD,205300,US,0,US,M
559,559,2022,SE,FT,Data Scientist,140400,USD,140400,US,0,US,M
569,569,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
570,570,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
571,571,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
574,574,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
575,575,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
576,576,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
587,587,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
592,592,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
593,593,2022,SE,FT,Data Scientist,150000,USD,150000,US,100,US,M
596,596,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
598,598,2022,MI,FT,Data Scientist,160000,USD,160000,US,100,US,M
599,599,2022,MI,FT,Data Scientist,130000,USD,130000,US,100,US,M

**Exercise 4:** Count total cars per company?

In [18]:
print("Count total")
df['job_title'].value_counts()

Count total

Data Scientist                              143
Data Engineer                               132
Data Analyst                                 97
Machine Learning Engineer                    41
Research Scientist                           16
Data Science Manager                         12
Data Architect                               11
Big Data Engineer                             8
Machine Learning Scientist                    8
Principal Data Scientist                      7
AI Scientist                                  7
Data Science Consultant                       7
Director of Data Science                      7
Data Analytics Manager                        7
ML Engineer                                   6
Computer Vision Engineer                      6
BI Data Analyst                               6
Lead Data Engineer                            6
Data Engineering Manager                      5
Business Data Analyst                         5
Head of Data                                  5
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
Head of Data Science                          4
Analytics Engineer                            4
Data Analytics Engineer                       4
Machine Learning Developer                    3
Machine Learning Infrastructure Engineer      3
Lead Data Scientist                           3
Computer Vision Software Engineer             3
Lead Data Analyst                             3
Data Science Engineer                         3
Principal Data Engineer                       3
Principal Data Analyst                        2
ETL Developer                                 2
Product Data Analyst                          2
Director of Data Engineering                  2
Financial Data Analyst                        2
Cloud Data Engineer                           2
Lead Machine Learning Engineer                1
NLP Engineer                                  1
Head of Machine Learning                      1
3D Computer Vision Researcher                 1
Data Specialist                               1
Staff Data Scientist                          1
Big Data Architect                            1
Finance Data Analyst                          1
Marketing Data Analyst                        1
Machine Learning Manager                      1
Data Analytics Lead                           1
Name: job_title, dtype: int64

**Exercise 6:** Find each company’s Higesht price car?

In [19]:
print("Higesht price")
dfz=df.groupby('job_title')
dfz['job_title',"salary_in_usd"].max()

Higesht price

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,job_title,salary_in_usd
job_title,,
3D Computer Vision Researcher,3D Computer Vision Researcher,5409
AI Scientist,AI Scientist,200000
Analytics Engineer,Analytics Engineer,205300
Applied Data Scientist,Applied Data Scientist,380000
Applied Machine Learning Scientist,Applied Machine Learning Scientist,423000
BI Data Analyst,BI Data Analyst,150000
Big Data Architect,Big Data Architect,99703
Big Data Engineer,Big Data Engineer,114047
Business Data Analyst,Business Data Analyst,135000
Cloud Data Engineer,Cloud Data Engineer,160000
Computer Vision Engineer,Computer Vision Engineer,125000
Computer Vision Software Engineer,Computer Vision Software Engineer,150000
Data Analyst,Data Analyst,200000
Data Analytics Engineer,Data Analytics Engineer,110000
Data Analytics Lead,Data Analytics Lead,405000
Data Analytics Manager,Data Analytics Manager,150260
Data Architect,Data Architect,266400
Data Engineer,Data Engineer,324000
Data Engineering Manager,Data Engineering Manager,174000
Data Science Consultant,Data Science Consultant,103000
Data Science Engineer,Data Science Engineer,127221
Data Science Manager,Data Science Manager,241000
Data Scientist,Data Scientist,412000
Data Specialist,Data Specialist,165000
Director of Data Engineering,Director of Data Engineering,200000
Director of Data Science,Director of Data Science,325000
ETL Developer,ETL Developer,54957
Finance Data Analyst,Finance Data Analyst,61896
Financial Data Analyst,Financial Data Analyst,450000
Head of Data,Head of Data,235000
Head of Data Science,Head of Data Science,224000
Head of Machine Learning,Head of Machine Learning,79039
Lead Data Analyst,Lead Data Analyst,170000
Lead Data Engineer,Lead Data Engineer,276000
Lead Data Scientist,Lead Data Scientist,190000
Lead Machine Learning Engineer,Lead Machine Learning Engineer,87932
ML Engineer,ML Engineer,270000
Machine Learning Developer,Machine Learning Developer,100000
Machine Learning Engineer,Machine Learning Engineer,250000
Machine Learning Infrastructure Engineer,Machine Learning Infrastructure Engineer,195000
Machine Learning Manager,Machine Learning Manager,117104
Machine Learning Scientist,Machine Learning Scientist,260000
Marketing Data Analyst,Marketing Data Analyst,88654
NLP Engineer,NLP Engineer,37236
Principal Data Analyst,Principal Data Analyst,170000
Principal Data Engineer,Principal Data Engineer,600000
Principal Data Scientist,Principal Data Scientist,416000
Product Data Analyst,Product Data Analyst,20000
Research Scientist,Research Scientist,450000
Staff Data Scientist,Staff Data Scientist,105000